#mySidenav {
  font-family: verdana;
}

.sidenav {
  height: 200px;
  width: 0;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
  opacity: 0.98;
}

/*nav background*/
.sidenavHome {
  height: 200px;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #888D97 ;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
  opacity: 0.83;
  box-shadow: 1px 1px 30px #9297a0 ;
}

/*default txt color*/
.sidenavHome a {
  padding: 10px 20px 10px 70px;
  text-decoration: none;
  font-size: 25px;
  color: #ddd;
  display: block;
  transition: 0.3s;
  opacity: 0.98;
  z-index: 99;
}

/*hover txt color*/
.sidenavHome a:hover,
.offcanvas a:focus {
  color: #3d535c;
  z-index: 99;
}

.sidenavHome .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 98;
}

.sidenavUs {
  height: 30px;
  width: 0;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #914666;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 10%;
  opacity: 0.1;
}

.sidenavUs a {
  padding: 8px 8px 8px 80px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
  z-index: 99;
}

.sidenavUs a:hover,
.offcanvas a:focus {
  color: #000;
  z-index: 99;
}

.sidenavUs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 99;
}

.sidenav a {
  padding: 8px 8px 8px 70px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
  z-index: 99;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #000;
  z-index: 99;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 28px;
  margin-left: 50px;
  z-index: 99;
}

.menu {
  color: #000;
  margin-left: 20px;
  margin-top: 10px;
  position: fixed;
  z-index: 99;
}

.menuHome {
  color: #d9d9d9;
  margin-left: 20px;
  top: 20px;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  opacity: 0.90;
}

.menuPort {
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  position: fixed;
  z-index: 98;
}

.menuUs {
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  position: absolute;
  z-index: 98;
}

.backUpLinks {
  text-align: center;
  font-size: 30px;
  top: 50%;
}